.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: #7dc7d2;
}
.logo-image {
  max-width: 50%;
  margin: 0 auto;
  filter: drop-shadow(0 0 10px #6daeb9);
}

.logo-container {
  padding: 50px;
  height: 100%;
}

.svg-button {
  width: 300px;
  padding-top: 50px;
}

a:hover path { 
  fill: #6bbf6a; }

/* ----------------- snow effect ------------------------- */

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake {
  position: fixed;
  background-color: #ffffff;
  user-select: none;
  z-index: -1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

